/*CSS - Ido Isaac - 301374969 - 09.26.2024*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: mediumblue;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Links*/
a {
  font-weight: 500;
  color: mediumblue;
  text-decoration: inherit;
}

a:hover {
  color:dodgerblue;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
  padding: 0 0;
  margin: 0;
}

nav a.active {
  color: dodgerblue;
  font-weight: bold;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: dodgerblue;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*Title*/
#logo {
  padding: 0% 2% 0 2%;
}

#mainTitle {
  padding-top: 1.5em;
  height: 7.5em;
  align-items: center;
  justify-content: center;
  display: flex;
}

#mainTitle h1 {
  font-size: 5em;
  line-height: 1;
}

/*Body and content*/
body {
  margin: 0;
  background: linear-gradient(to bottom right,
  gold 20%, white 20% 22%,
  gold 22% 24%, white 24% 92%,
  gold 92% 94%, white 94%);
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body p{
  color: dodgerblue;
}

body span {
  color: mediumblue;
}

#content {
  margin: 4% 20%;
  text-align: center;
}

#content h3 {
  margin: -1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*Contact form*/
#contactPage {
  padding: 20px;
  text-align: center;
}

#contactInfo {
  margin-bottom: 20px;
}

.successMessage {
  color: green;
  margin-bottom: 20px;
}

.errorMessage {
  color: red;
  margin-bottom: 20px;
}

.contactForm {
  max-width: 600px;
  margin: 0 auto;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid mediumblue;
  border-radius: 4px;
  background-color: lightgray;
  color: black;
}

.contactForm button {
  padding: 10px 20px;
  border: none;
  background-color: mediumblue;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.contactForm button:hover {
  background-color: gold;
}

