:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: mediumblue;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: mediumblue;
  text-decoration: inherit;
}
a:hover {
  color:dodgerblue;
}

body {
  margin: 0;
  background: linear-gradient(to bottom right,
  gold 20%, white 20% 22%,
  gold 22% 24%, white 24% 92%,
  gold 92% 94%, white 94%);
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#logo {
  padding: 0% 2% 0 2%;
}

#mainTitle {
  padding-top: 1.5em;
  height: 7.5em;
  align-items: center;
  display: flex;
}

#mainTitle h1 {
  font-size: 5em;
  line-height: 1;
}

#homeContent {
  margin: 4% 20%;
  text-align: center;
}

#homeContent h3 {
  margin: -1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
  padding: 0 0;
  margin: 0;
}

